# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.UtilityProject.iml
# Datasource local storage ignored files
/../../../../../../../:\Repositories\UtilityStuff\UtilityProject\.idea\.idea.UtilityProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
